body {
  margin: 0;
  font-family: 'Grenze',
  serif;
  background: #d85112;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  position: relative;
  top: 100px;
  height: 500px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 0;
}
.img {
  background-image: url('./img/bg.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}
.form-bg {
  margin: 0;
  padding: 60px;
  background: #2f2b2b;
  position: relative;
  height: 500px;
}

input.form-control {
  border: 1px;
  background: none;
  color: #eee;
  border-bottom: 1px solid #eee;
  border-radius: 0px;
  margin-left: 4px;
}

.form-bg p {
  color: white;

}

button.subtn {
  display: inline-block;
  margin-left: 10px;
  height: 34px;
  border: 1px;
  width: 120px;
  border-radius: 4px;
  background: #e07645;
  color: white;
}


.result {
  font-size: 15px;
  color: #eee;
}